/* stylelint-disable */

:global(body) {
  margin: 0 auto;
  font-size: 14px;
  max-width: 1200px;
}

:global(.code) {
  background-color: #e0e3e4;
  padding: 8px 12px;
  width: 100%;
  display: inline-block;
}
