
.sider {
  width: 200px;
  min-width: 200px;  /* flex shrink */
  max-width: 200px;  /* flex grow */
  height: 100vh;
  overflow: auto;
}

.logo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f1f1f1;
}

.menu {
  min-height: calc(100vh - 60px);
  margin-top: 20px;
}
